## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [0]:
%sql 
drop database if exists country_club cascade;
create database country_club;
show databases;

databaseName
country_club
default

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [0]:
# File location and type
file_location_bookings = "/FileStore/tables/Bookings.csv"
file_location_facilities = "/FileStore/tables/Facilities.csv"
file_location_members = "/FileStore/tables/Members.csv"

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [0]:
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [0]:
permanent_table_name_bookings = "country_club.Bookings"
bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)

permanent_table_name_facilities = "country_club.Facilities"
facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

permanent_table_name_members = "country_club.Members"
members_df.write.format("parquet").saveAsTable(permanent_table_name_members)

### Refresh tables and check them

In [0]:
%sql
use country_club;
REFRESH table bookings;
REFRESH table facilities;
REFRESH table members;
show tables;

database,tableName,isTemporary
country_club,bookings,false
country_club,facilities,false
country_club,members,false

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [0]:
%sql
select * from bookings limit 3

bookid,facid,memid,starttime,slots
0,3,1,2012-07-03 11:00:00,2
1,4,1,2012-07-03 08:00:00,2
2,6,0,2012-07-03 18:00:00,2

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [0]:
%sql
select name from facilities where membercost > 0

name
Tennis Court 1
Tennis Court 2
Massage Room 1
Massage Room 2
Squash Court

####  Q2: How many facilities do not charge a fee to members?

In [0]:
%sql
-- facilies do not charge
select * from facilities where membercost = 0

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
2,Badminton Court,0.0,15.5,4000,50
3,Table Tennis,0.0,5.0,320,10
7,Snooker Table,0.0,5.0,450,15
8,Pool Table,0.0,5.0,400,15

In [0]:
%sql
-- number of facilites without charge 
select count(*) from facilities where membercost = 0

count(1)
4

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [0]:
%sql
select  facid ,  name ,  membercost ,  monthlymaintenance from facilities where (membercost /  monthlymaintenance) < 0.2

facid,name,membercost,monthlymaintenance
0,Tennis Court 1,5.0,200
1,Tennis Court 2,5.0,200
2,Badminton Court,0.0,50
3,Table Tennis,0.0,10
4,Massage Room 1,9.9,3000
5,Massage Room 2,9.9,3000
6,Squash Court,3.5,80
7,Snooker Table,0.0,15
8,Pool Table,0.0,15

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [0]:
%sql
select * from facilities where facid in (1,5)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
1,Tennis Court 2,5.0,25.0,8000,200
5,Massage Room 2,9.9,80.0,4000,3000

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [0]:
%sql
select name, monthlymaintenance, 
  case 
    when monthlymaintenance > 100
      then 'expensive'
      else 'cheap'
  end as price_tag  
from facilities

name,monthlymaintenance,price_tag
Tennis Court 1,200,expensive
Tennis Court 2,200,expensive
Badminton Court,50,cheap
Table Tennis,10,cheap
Massage Room 1,3000,expensive
Massage Room 2,3000,expensive
Squash Court,80,cheap
Snooker Table,15,cheap
Pool Table,15,cheap

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [0]:
%sql
select firstname, surname from members where joindate = (select MAX(joindate) from members)

firstname,surname
Darren,Smith

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [0]:
%sql
select distinct surname, firstname, name
from members 
 inner join bookings 
 using (memid)
 inner join facilities
 using(facid)
 where facid in (0,1)
 order by surname, firstname

surname,firstname,name
Bader,Florence,Tennis Court 1
Bader,Florence,Tennis Court 2
Baker,Anne,Tennis Court 2
Baker,Anne,Tennis Court 1
Baker,Timothy,Tennis Court 2
Baker,Timothy,Tennis Court 1
Boothe,Tim,Tennis Court 2
Boothe,Tim,Tennis Court 1
Butters,Gerald,Tennis Court 1
Butters,Gerald,Tennis Court 2
Coplin,Joan,Tennis Court 1
Crumpet,Erica,Tennis Court 1
Dare,Nancy,Tennis Court 1
Dare,Nancy,Tennis Court 2
Farrell,David,Tennis Court 2
Farrell,David,Tennis Court 1
Farrell,Jemima,Tennis Court 2
Farrell,Jemima,Tennis Court 1
GUEST,GUEST,Tennis Court 1
GUEST,GUEST,Tennis Court 2
Genting,Matthew,Tennis Court 1
Hunt,John,Tennis Court 2
Hunt,John,Tennis Court 1
Jones,David,Tennis Court 2
Jones,David,Tennis Court 1
Jones,Douglas,Tennis Court 1
Joplette,Janice,Tennis Court 1
Joplette,Janice,Tennis Court 2
Owen,Charles,Tennis Court 1
Owen,Charles,Tennis Court 2
Pinker,David,Tennis Court 1
Purview,Millicent,Tennis Court 2
Rownam,Tim,Tennis Court 1
Rownam,Tim,Tennis Court 2
Rumney,Henrietta,Tennis Court 2
Sarwin,Ramnaresh,Tennis Court 2
Sarwin,Ramnaresh,Tennis Court 1
Smith,Darren,Tennis Court 2
Smith,Jack,Tennis Court 1
Smith,Jack,Tennis Court 2
Smith,Tracy,Tennis Court 2
Smith,Tracy,Tennis Court 1
Stibbons,Ponder,Tennis Court 2
Stibbons,Ponder,Tennis Court 1
Tracy,Burton,Tennis Court 1
Tracy,Burton,Tennis Court 2

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [0]:
%sql
select distinct surname, name,
  case
    when surname == 'GUEST'
      then guestcost*slots
      else membercost*slots
  end as price_cost
from bookings
inner join facilities
using (facid)
inner join members
using (memid)
where starttime like '%2012-09-14%'
--having price_cost > 30
and (membercost*slots > 30 or guestcost*slots > 30)
order by price_cost desc

surname,name,price_cost
GUEST,Massage Room 2,320.0
GUEST,Massage Room 1,160.0
GUEST,Tennis Court 2,150.0
GUEST,Tennis Court 2,75.0
GUEST,Tennis Court 1,75.0
GUEST,Squash Court,70.0
Farrell,Massage Room 1,39.6
GUEST,Squash Court,35.0
Boothe,Tennis Court 2,30.0
Jones,Tennis Court 2,30.0
Stibbons,Massage Room 1,19.8
Farrell,Massage Room 1,19.8
Tracy,Massage Room 1,19.8
Genting,Massage Room 1,19.8
Smith,Massage Room 1,19.8
Bader,Massage Room 2,19.8
Jones,Tennis Court 1,15.0
Pinker,Tennis Court 1,15.0
Butters,Tennis Court 1,15.0
Rownam,Tennis Court 1,15.0
Tracy,Tennis Court 1,15.0
Pinker,Squash Court,7.0
Baker,Squash Court,7.0
Smith,Badminton Court,0.0
Mackenzie,Badminton Court,0.0
Butters,Badminton Court,0.0
Stibbons,Badminton Court,0.0

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [0]:
%sql
select distinct surname, name,
  case
    when surname == 'GUEST'
      then guestcost*slots
      else membercost*slots
  end as price_cost
from ( select *
  from bookings
  inner join facilities
  using (facid)
  inner join members
  using (memid))
where starttime like '%2012-09-14%'
and (membercost*slots > 30 or guestcost*slots > 30)
order by price_cost desc

surname,name,price_cost
GUEST,Massage Room 2,320.0
GUEST,Massage Room 1,160.0
GUEST,Tennis Court 2,150.0
GUEST,Tennis Court 2,75.0
GUEST,Tennis Court 1,75.0
GUEST,Squash Court,70.0
Farrell,Massage Room 1,39.6
GUEST,Squash Court,35.0
Boothe,Tennis Court 2,30.0
Jones,Tennis Court 2,30.0
Stibbons,Massage Room 1,19.8
Farrell,Massage Room 1,19.8
Tracy,Massage Room 1,19.8
Genting,Massage Room 1,19.8
Smith,Massage Room 1,19.8
Bader,Massage Room 2,19.8
Jones,Tennis Court 1,15.0
Pinker,Tennis Court 1,15.0
Butters,Tennis Court 1,15.0
Rownam,Tennis Court 1,15.0
Tracy,Tennis Court 1,15.0
Pinker,Squash Court,7.0
Baker,Squash Court,7.0
Smith,Badminton Court,0.0
Mackenzie,Badminton Court,0.0
Butters,Badminton Court,0.0
Stibbons,Badminton Court,0.0

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [0]:
%sql
select name, 
  sum (
    case 
      when memid == 0
      then slots*guestcost
      else slots*membercost
    end 
  ) as total_revenue
from facilities
join bookings
using (facid)
group by name
having total_revenue < 1000
order by total_revenue

name,total_revenue
Table Tennis,180.0
Snooker Table,240.0
Pool Table,270.0